body {
  background: url(https://images.unsplash.com/photo-1477346611705-65d1883cee1e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80)
    no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  overflow: hidden;
}
